<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Math-a-dos</title>
</head>
<body>
<h2> Bienvenu {{ player_name }}</h2>
<p> Tu es sur la case {{ case_at }} </p>
<div>
    <p>Tu peux te déplacer de {{ number_dice }} case.</p>
    <p>Les cases devant toi sont :</p>
    <ul>
        {% for case in case_in_front %}
            <li> {{ forloop.counter }}: {{ case.mandatory_operation }}
                {% if case.optional_operation != neutral_operation %}
                    {{ case.optional_operation }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>

<script src="{% url "math:game_js" id %}">
</script>
</body>
</html>